body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-section {
    flex: 1;
    padding: 40px;
}

.info-section {
    flex: 1;
    background-color: #0066ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px;
}

.title {
    color: #0066ff;
    font-size: 32px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 0 0 20px;
}

.form-container {
    max-width: 300px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #0066ff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-login:hover {
    background-color: #0052cc;
}


.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.btn-social {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.btn-social:hover {
    background-color: #f0f0f0;
}

.info-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section p {
    max-width: 300px;
    text-align: center;
}
